<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/db3e3f73-f642-4e13-8282-d59fe1f87a21/resourceGroups/financeSystem/providers/Microsoft.Web/sites/financeSystemFunctions</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://financesystemfunctions.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://financesystemfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$financeSystemFunctions</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>